version: '3.8'

services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: backend
      PGDATA: /data/postgres
    volumes:
      - ./data/pg:/data/postgres


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080